/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #ffffff;
}

    .footer .footer-widget {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }

        .footer .footer-widget h2 {
            font-size: 25px;
            white-space: nowrap;
            margin-bottom: 20px;
        }

        .footer .footer-widget ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .footer .footer-widget ul li {
                margin-bottom: 12px;
            }

                .footer .footer-widget ul li:last-child {
                    margin-bottom: 0;
                }

                .footer .footer-widget ul li a {
                    color: #353535;
                    white-space: nowrap;
                    display: block;
                    line-height: 23px;
                    transition: all .3s;
                }

                    .footer .footer-widget ul li a::before {
                        content: '\f105';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        padding-right: 5px;
                    }

                    .footer .footer-widget ul li a:hover {
                        color: #FF6F61;
                    }

                        .footer .footer-widget ul li a:hover::before {
                            content: '\f101';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                        }

    .footer .contact-info p {
        margin-bottom: 10px;
        font-size: 16px;
    }

        .footer .contact-info p i {
            margin-right: 5px;
        }

    .footer .social {
        position: relative;
        width: 100%;
    }

        .footer .social a {
            display: inline-block;
            margin: 10px 5px 0 0;
            width: 40px;
            height: 40px;
            padding: 6px 0;
            text-align: center;
            font-size: 18px;
            color: #353535;
            border: 1px solid #353535;
            border-radius: 4px;
            transition: all .3s;
        }

            .footer .social a:hover {
                color: #FF6F61;
                border-color: #FF6F61;
            }

    .footer .payment {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid rgba(0,0,0,.1);
    }

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }

    .footer .payment-method,
    .footer .payment-security {
        text-align: center;
    }
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    padding: 3px 0;
    font-size: 14px;
    color: #FF6F61;
    background: #000000;
}

    .top-bar i {
        margin-right: 5px;
    }

    .top-bar .col-sm-6:first-child {
        text-align: left;
    }

    .top-bar .col-sm-6:last-child {
        text-align: right;
    }

@media (max-width: 575.98px) {
    .top-bar {
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

        .top-bar .col-sm-6:first-child,
        .top-bar .col-sm-6:last-child {
            text-align: center;
        }
}

/*Navbar CSS*/


@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}

/**********************************/
/*********** Feature CSS **********/
/**********************************/
.feature {
    position: relative;
}

    .feature .feature-col {
        margin-bottom: 30px;
    }

    .feature .feature-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 30px 15px;
        text-align: center;
        background: #ffffff;
    }

        .feature .feature-content i {
            color: #FF6F61;
            font-size: 60px;
            margin-bottom: 30px;
        }

        .feature .feature-content h2 {
            font-size: 18px;
        }

        .feature .feature-content p {
            font-size: 15px;
            margin: 0;
        }




/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

    .footer-bottom .copyright {
        text-align: left;
    }

    .footer-bottom .template-by {
        text-align: right;
    }

        .footer-bottom .copyright p,
        .footer-bottom .template-by p {
            color: #ffffff;
            font-weight: 400;
            margin: 0;
        }

            .footer-bottom .copyright p a,
            .footer-bottom .template-by p a {
                font-weight: 600;
            }

                .footer-bottom .copyright p a:hover,
                .footer-bottom .template-by p a:hover {
                    color: #ffffff;
                }

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center;
    }
}



/*Carossuel Inner CSS*/

