@using SomarthokBangla.Models
@model List<Products>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-sm-3">

            <div class="card">
                <a asp-area="Customer" asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">

                    <img class="card-img-top img-responsive" src="~/@product.Image" style="height:300px;margin-bottom:10px" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">Price: @product.Price tk</p>
                        @*<p><a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a></p>*@
                    </div>

                </a>

            </div>

        </div>

    }
</div>
