@model SomarthokBangla.Models.ChangePassword
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Customer/Views/Shared/_ManageLayout.cshtml";
}

<div class="container">


    <div class="profile-content">

        <div class="row">

            <form asp-action="ChangePassword" id="RegisterForm" method="post">

                <div class="p-4 rounded border">

                    <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>

                    <div class="form-group row">
                        <h3>@ViewBag.message</h3>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label asp-for="OldPassword"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="OldPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label asp-for="NewPassword"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="NewPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label asp-for="ConfirmPassword"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>



                    <div class="form-group row">
                        <div class="col-sm-2">

                        </div>
                        <div class="col-sm-4 text-center">

                            @*<a asp-action="Login" class="btn btn-success">Back To List</a>*@
                            <p><input type="submit" class="btn btn-primary  form-control" value="Update" /></p>

                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

