
<div id="sidebar">

    <div class="list-group panel">

        <h5 class="text-center list-group-item">
            <i class="fa fa-list-alt"></i> Category
        </h5>

        <a href="#" class="list-group-item collapsed" aria-expanded="false">
            <i class="fa fa-shopping-bag"></i> Best Selling
        </a>

        <a href="#" class="list-group-item collapsed" aria-expanded="false">
            <i class="fa fa-plus-square"></i> <span class="hidden-sm-down">New Arrival</span>
        </a>

        @* First Menu *@

        <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-laptop"></i> <span class="hidden-sm-down">Electronic Device</span>
        </a>
        <div class="collapse" id="menu1">
            <a href="#" class="list-group-item" data-parent="menu1" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu1" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu1" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu1" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
        </div>

        @* Seccond Menu *@

        <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-headphones"></i> <span class="hidden-sm-down">Electronic Accessories</span>
        </a>
        <div class="collapse" id="menu2">
            <a href="#" class="list-group-item" data-parent="menu2" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu2" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu2" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu2" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
        </div>

        @* Third Menu *@

        <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-bed"></i> <span class="hidden-sm-down">TV & Home Appliance</span>
        </a>

        <div class="collapse" id="menu3">
            <a href="#" class="list-group-item" data-parent="menu3" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu3" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu3" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu3" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
        </div>

        @* Fourth Menu *@

        <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-male"></i> <span class="hidden-sm-down"> Men's Fashion</span>
        </a>
        <div class="collapse" id="menu4">
            <a href="#" class="list-group-item" data-parent="menu4" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Jacket & Coats
            </a>
            <a href="#" class="list-group-item" data-parent="menu4" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> T-Shirt
            </a>
            <a href="#" class="list-group-item" data-parent="menu4" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Jeans
            </a>
            <a href="#" class="list-group-item" data-parent="menu4" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Bags
            </a>
            <a href="#" class="list-group-item" data-parent="menu4" aria-expanded="false">
                <i class="fa fa-shoe-prints"></i> Shoes
            </a>

        </div>

        @* Fifth Menu *@

        <a href="#menu5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-female"></i> <span class="hidden-sm-down">Women's Fashion</span>
        </a>
        <div class="collapse" id="menu5">
            <a href="#" class="list-group-item" data-parent="menu5" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Jacket & Coats
            </a>
            <a href="#" class="list-group-item" data-parent="menu5" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Saree
            </a>
            <a href="#" class="list-group-item" data-parent="menu5" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Salwar kameez
            </a>
            <a href="#" class="list-group-item" data-parent="menu5" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Bags
            </a>
            <a href="#" class="list-group-item" data-parent="menu5" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Shoes
            </a>

        </div>

        @* Sixth Menu *@


        <a href="#menu6" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
            <i class="fa fa-clock"></i> <span class="hidden-sm-down">Watches & Accessories</span>
        </a>
        <div class="collapse" id="menu6">
            <a href="#" class="list-group-item" data-parent="menu6" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu6" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu6" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
            <a href="#" class="list-group-item" data-parent="menu6" aria-expanded="false">
                <i class="fa fa-shopping-bag"></i> Best Selling
            </a>
        </div>

    </div>

</div>
