@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Profile</a>

                <ul class="dropdown-menu">
                    <li><a asp-area="Customer" asp-controller="User" asp-action="Manage">Manage my account@*@UserManager.GetUserName(User)*@</a></li>
                    <li><a class="dropdown-item" href="#"> My Orders</a> </li>
                    <li><a class="dropdown-item" href="#"> My Wishlist</a> </li>
                    <li><a class="dropdown-item" href="#"> My Review</a> </li>
                    <li><a class="dropdown-item" href="#"> My Returns and Cancellation</a> </li>

                </ul>

            </li>
            <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button></li>


            @*<li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nev-item"><a class="nav-link" a asp-area="" asp-controller="Home" asp-action="About">My Orders</a></li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Cart">
                        <i class="fa fa-heart"> Wishlist <span class="badge badge-success"> 0 </span> </i>
                    </a>
                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                </li>*@


        </ul>
    </form>

}
else
{
<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="Identity" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus"></i> Register</a></li>
    <li><a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> Login</a></li>
</ul>

}