<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SomarthokBangla</title>
    <!--======= Google Web Fonts =========-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
        <link href="~/css/responsive_bootstrap_carousel_mega_min.css" rel="stylesheet" />
        <link href="~/css/theme.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
        <link href="~/css/responsive_bootstrap_carousel_mega_min.css" rel="stylesheet" />
        <link href="~/css/theme.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <div class="container-fluid">

        <div class="row">

            <nav class="navbar navbar-default bg-info navbar-fixed-top" style="margin-top:2px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bg-primary"></span>
                            <span class="icon-bar bg-primary"></span>
                            <span class="icon-bar bg-primary"></span>
                        </button>
                        <a href='@Url.Action("Index","Home")' class="navbar-brand">
                            <img src="~/images/Prism Bangla.svg" height="25" alt="Peekzo logo" />
                        </a>
                        @*<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SomarthokBangla</a>*@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-area="Inventory" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Manage</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="Inventory" asp-controller="SpecialTag" asp-action="Index">Special Tag</a></li>
                                    <li><a asp-area="Inventory" asp-controller="ProductCategory" asp-action="Index">Product Category</a></li>
                                    <li><a asp-area="Inventory" asp-controller="ProductType" asp-action="Index">Product Type</a></li>
                                    <li><a asp-area="Inventory" asp-controller="Manufacturer" asp-action="Index">Manufacturer</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="Inventory" asp-controller="Products" asp-action="Index">Inventory</a></li>
                            <li><a asp-area="Inventory" asp-controller="Orders" asp-action="Index">Orders</a></li>

                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

        </div>

        <div class="row">

            <partial name="_CookieConsentPartial" />

        </div>

        <div class="row">

            <div class="container body-content">
                <br />
                <br />
                @RenderBody()
            </div>

        </div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery.touchswipe/jquery.touchSwipe.min.js"></script>
        <script src="~/js/responsive_bootstrap_carousel.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/slick/slick.min.js"></script>


        @*JQuery DataTable For Pagination and Export Library*@

        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js" asp-append-version="true"></script>


    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery.touchswipe/jquery.touchSwipe.min.js"></script>
        <script src="~/js/responsive_bootstrap_carousel.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/slick/slick.min.js"></script>



        @*JQuery DataTable For Pagination and Export Library*@

        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
