<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <br />
    <div class="row">
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active"><a asp-area="Inventory" asp-controller="User" asp-action="Manage"><i class="fa fa-home"></i> Overview</a></li>
                @*<li><a href="#"><i class="fa fa-user"></i> Account Settings</a></li>*@
                <li><a asp-area="Inventory" asp-controller="User" asp-action="PersonalData"><i class="fa fa-tasks"></i> Personal Data</a></li>
                <li><a asp-area="Inventory" asp-controller="User" asp-action="ChangePassword"><i class="fa fa-tasks"></i> Change password</a></li>

            </ul>
        </div>
    </div>

    <!-- END MENU -->
</div>